<% include public/head.ejs %>
<%# 请在下方输入自定义页面css%>

<link rel="stylesheet" type="text/css" href="/static/js/date-dropdown/jquery.datetimepicker.css" />


<%# 请在上方输入自定义页面css%>

<!--左侧目录,顶部搜索,用户下拉-->
<% include public/sidebar.ejs %>









<%# 页面导航 自己修改 %>
<!-- breadcrumbs -->
<ul class="breadcrumbs">
    <li><a href="#"><span class="fa fa-home fa-fw"></span></a>
    </li>
    <li>Dashboard
    </li>
</ul>
<!-- end of breadcrumbs -->




<%# body 内容 %>
<!-- Container Begin -->
<div class="row no-padding">

    <div class="large-12 columns">
        <div class="box bg-white">


            <!-- /.box-header -->
            <div class="box-body padding-40" style="display: block;">
                <!-- basic form -->

                <div class="row">
                    <div class="large-3 columns">
                        <h4>当前管辖城市</h4>
                        <%for(i in agent_area){%>
                        <li><%= agent_area[i] %></li>
                        <%}%>
                        <br>
                        <p><strong>今日总数据: <%= today_count_province%></strong></p>
                        <p>总数据: <%= total_count_province %></p>


                    </div>
                    <div class="large-9 columns">
                        <form>

                            <div class="row">
                                <div class="large-6 columns">
                                    <label>分类
                                        <select>
                                            <option value="default">省主管</option>
                                            <option value="starbuck">选项2</option>
                                            <option value="hotdog">选项3</option>
                                            <option value="apollo">选项4</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="large-6 columns">
                                    <label>省份
                                        <select>
                                            <option value="default">全部</option>
                                            <option value="starbuck">选项2</option>
                                            <option value="hotdog">选项3</option>
                                            <option value="apollo">选项4</option>
                                        </select>
                                    </label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="large-6 columns">
                                    <div class="row collapse">
                                        <div class="small-10 columns">
                                            <input type="text" placeholder="输入省份关键字">
                                        </div>
                                        <div class="small-2 columns">
                                            <a href="#" class="button postfix">Go</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-6 columns">
                                    <label>查看数据从:
                                        <input type="text" value="" id="datetimepicker" placeholder="2016/5/1" />
                                    </label>
                                </div>
                                <div class="large-6 columns">
                                    <label>至:
                                        <input type="text" value="" id="datetimepicker2" placeholder="2016/5/1" />
                                    </label>
                                </div>

                            </div>


                            <a href="#" class="tiny button bg-green">查看</a>

                        </form>

                    </div>
                </div>
                <!-- end of basic form -->
                <hr>

                <!-- Defining a Fieldset -->
                <div class="row">
                    <table style="width:100%;">

                        <tbody>
                        <tr>
                            <th>姓名</th>
                            <th>学校</th>
                            <th>负责学校</th>
                            <th>今日数据</th>
                            <th>总数据</th>
                            <th>操作</th>
                        </tr>


                        <%for(i in my_agent_info){%>

                        <tr>
                            <td><%= my_agent_info[i].name %></td>
                            <td><%= my_agent_info[i].university %></td>
                            <td>
                                <ul>

                                    <% for(var j =0; j< my_agent_info[i].university_data.length && j< 2 ;j++){%>
                                    <li>
                                        <%= my_agent_info[i].university_data[j].university_name %>
                                    </li>
                                    <%}%>


                                </ul>
                                <a href="#" data-reveal-id="firstModal_<%= i %>" class="tiny button bg-orange margin-borrom-0">查看全部</a>

                                <div id="firstModal_<%= i %>" class="reveal-modal" data-reveal>
                                    <table style="width:100%;">

                                        <tbody>
                                        <tr>
                                            <th>学校名</th>
                                        </tr>

                                        <% for(o in my_agent_info[i].university_data){%>

                                        <tr>
                                            <td><%= my_agent_info[i].university_data[o].university_name %></td>
                                        </tr>
                                        <%}%>

                                        </tbody>
                                    </table>



                                    <a class="close-reveal-modal">&#215;</a>
                                </div>

                            </td>
                            <td>
                                <%= my_agent_info[i].today%>
                            </td>
                            <td>
                                <%= my_agent_info[i].total%>
                            </td>
                            <td>
                                <a href="/index/data?agent_id=<%= my_agent_info[i].id %>" class="tiny button bg-green margin-borrom-0">查看经理数据</a>
                            </td>
                        </tr>

                        <%}%>









                        </tbody>
                    </table>

                </div>
                <!-- end of Defining a Fieldset -->




            </div>
            <!-- end .timeline -->

        </div>
        <!-- box -->
    </div>
</div>
<!-- End of Container Begin -->








<!--main js-->
<% include public/footer.ejs %>

<%# 请在下方输入自定义页面js%>
<script type="text/javascript" src="/static/js/date-dropdown/jquery.date-dropdowns.min.js"></script>
<script type="text/javascript" src="/static/js/date-dropdown/jquery.datetimepicker.js"></script>



<script type="text/javascript">
    $(document).ready(function() {


        // MASKED INPUT
        (function($) {
            "use strict";

            //默认日期时间选择
            $('#datetimepicker').datetimepicker({
                dayOfWeekStart: 1,
                lang: 'ch',
                format: 'y-m-d h:i',
                step: '30'
                // disabledDates: ['2016/04/08', '2016/04/09', '2016/04/10'],  //可选择某一天不可选择
                // startDate: '2016/04/01'
            });

            //默认日期时间选择
            $('#datetimepicker2').datetimepicker({
                dayOfWeekStart: 1,
                lang: 'ch',
                format: 'y-m-d h:i',
                step: '30',
                // disabledDates: ['2016/04/08', '2016/04/09', '2016/04/10'],  //可选择某一天不可选择
//              startDate: '2016/05/01'
            });


        })(jQuery);

    });
</script>
<%# 请在上方输入自定义页面js%>

<% include public/ending.ejs%>


